<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>Angular Client</mat-card-title>

  </mat-card-header>
  <mat-card-content style="margin-top:25px;">
    <p>This project uses by Angular 15 & Angular Material 15</p>

    <mat-divider></mat-divider>
    <p>For evaluation, use the following user credentiais</p>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>[Employees] role user</span>
        <span matListItemLine>Username:user1 & user1 Password: @mahi1234</span> <span matListItemLine>Username:admin & Admin Password: @Open1234</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Administrator role user</span>

        <span matListItemLine>Username:admin & Admin Password: @Open1234</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<div>
  <p>This project is a web-based employee management system using ASP.NET and Angular 15
    that allows a company to manage employee information with including personal details and job
    information. The system should have two different types of users: employees and administrators.
    Employees should be able to view their only own information, while administrators should be able to
    view and manage all employee information.
    </p>
 </div>
 <br>
 <br>
 <div>
<p>
<b>Notes:</b>
<br>
Admin role user: Username: admin, Password: @Open1234
<p>
<p>
Employee role user: Username: user, Password: @mahi1234
</p>
<p>
1)  Open the Asp.NetCoreWebApi, and run the Package Manager Console and Hit the Command (update-database -context AppDbContext) all databases and schema will be created and populated with sample data.
2) HostedServices take care of above task.

  </p>
 </div>
